.introtext {
    font-weight: 700;
    line-height: 140%;
    color: var(--text);
    margin-bottom: 0;
    /* width: 100%; */
    font-size: 1.8rem;
}
.introcontainer {
    align-items: center;
    justify-content: center;
    background-color: #f6f7ff;
    display: flex;
    height: 560px;
    width: 100%;
}
.propertiescontainer {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: -3.4375rem auto 0;
    max-width: 1024px;
    padding: 2rem 2.5rem;
    flex-direction: row;
}
.dividor {
    background: #5670fb;
    height: 2px;
    margin-bottom: 1.5rem;
    width: 2rem;
}
.sahdowcontainer {
    border-radius: 0.75rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.09);
    display: flex;
    margin: 2.5rem auto;
    /* max-width: 64rem; */
    width: 100%;
}
.container {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1;
    margin: 1rem;
    max-width: 100%;
    position: relative;
}

.insights-container .loading_section {
    margin-top: 2.8125rem;
}

.insights-container .data_unavailable {
    align-items: center;
    color: #8d8db6;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
    margin-top: 4.0625rem;
    padding: 0 1.375rem;
    text-align: center;
}

.insights-container .insights-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.insights-container .insights-row .card-01 {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1;
    margin: 1rem;
    max-width: 100%;
    position: relative;
}

@media only screen and (max-width: 992px) {
    .insights-container .insights-row .card-01 {
        margin: 0 0 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-row .card-01 {
        margin: 0 0 1rem;
    }
}

.insights-container .insights-row .card-01 .insights-header {
    color: #17213c;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    margin: 1.1875rem 2.25rem;
}

@media only screen and (max-width: 992px) {
    .insights-container .insights-row .card-01 .insights-header {
        justify-content: space-between;
        margin: 1.5625rem 1.5625rem 0.625rem;
    }
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-row .card-01 .insights-header {
        justify-content: space-between;
        margin: 1.5625rem 1.5625rem 0.625rem;
    }
}

.insights-container .insights-row .card-01 .insights-header .subtitle-1 {
    margin-right: 2.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-row .card-01 .insights-header .subtitle-1 {
        margin-bottom: 0.9375rem;
        margin-right: 0.3125rem;
    }
}

@media only screen and (max-width: 992px) {
    .insights-container .insights-row .card-01 .insights-header .subtitle-1 {
        margin-bottom: 0.9375rem;
        margin-right: 0.3125rem;
    }
}

.insights-container .insights-row .card-01 .insights-header .count-null {
    color: #8d8db6;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.insights-container .insights-row .card-01 .insights-header .count {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-row .card-01 .insights-header .count {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

.insights-container .insights-row .card-01 .insights-header .text {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.9375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-row .card-01 .insights-header .text {
        font-size: 0.75rem;
        line-height: 0.9375rem;
    }
}

.insights-container .insights-row .card-02 {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    flex: 1 1;
    height: 14.125rem;
    margin: 1rem;
    position: relative;
}

@media only screen and (max-width: 992px) {
    .insights-container .insights-row .card-02 {
        flex: 100% 1;
        margin: 0 0 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-row .card-02 {
        flex: 100% 1;
        margin: 0 0 1rem;
    }
}

.insights-container .insights-title-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.insights-container .insights-title-row .title {
    color: #17213c;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1875rem;
    margin: 0 1rem;
}

@media only screen and (max-width: 992px) {
    .insights-container .insights-title-row .title {
        margin: 0 0 1rem;
    }
}

@media only screen and (max-width: 575px) {
    .insights-container .insights-title-row .title {
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin: 0 0 1rem;
    }
}

.insights-container .rating-container {
    margin: 1.375rem;
}

.insights-container .rating-container .rating-title {
    color: #17213c;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    margin-bottom: 0.9375rem;
}

.insights-container .rating-container .rating-row {
    display: flex;
}

.insights-container .rating-container .rating-icon {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
    margin-right: 0.625rem;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    top: 0.125rem;
    white-space: nowrap;
}

.insights-container .rating-container .rating-text {
    margin-bottom: 0.75rem;
    margin-left: 1.125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.insights-container .rating-container .rating-text .count {
    display: inline-block;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;
    min-width: 1.5625rem !important;
}

.insights-container .rating-container .rating-text .text {
    color: #7c8ba2;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.75rem;
    margin-left: 0.1875rem;
}

.insights-container .rating-container .rating-first-container {
    flex: 0.5 1;
}

.insights-container .rating-container .rating-second-container {
    flex: 8.5 1;
}

.insights-container .rating-container .rating-third-container {
    flex: 1 1;
}

.insights-container .rating-container .rating-progressbar-container {
    border-left: 0.8px solid #dadada;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
}

.insights-container .rating-container .rating-progressBar {
    background-color: #d8d8d8;
    border-radius: 0 0.25rem 0.25rem 0;
    height: 0.3125rem;
    position: relative;
    width: 100%;
}

.insights-container .rating-container .rating-progress {
    background: #5670fb;
    border-radius: 0 0.25rem 0.25rem 0;
    height: 100%;
    opacity: 0;
    transition: 1s ease 0.3s;
    width: 0;
}

.insights-container .bar-chart-container .bar-graph-heading {
    color: #17213c;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    padding: 1.375rem 1.375rem 0;
}

.insights-container .bar-chart-container .insights-bar-graph {
    height: 10rem !important;
    width: 100%;
}

@media only screen and (max-width: 315px) {
    .insights-container .bar-chart-container .insights-bar-graph {
        width: 95%;
    }
}

.insights-container .line-chart-container .line-chart-heading {
    color: #17213c;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    margin-bottom: 0.3125rem;
    padding: 1.375rem 1.375rem 0;
}

@media only screen and (max-width: 575px) {
    .insights-container .line-chart-container .line-chart-heading {
        margin-bottom: 0;
    }
}

.insights-container .line-chart-container .line-chart {
    height: 11.25rem !important;
    width: 100%;
}

@media only screen and (max-width: 315px) {
    .insights-container .line-chart-container .line-chart {
        width: 95%;
    }
}

.insights-container .mixed-chart-container .mixed-chart-heading {
    color: #17213c;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    padding: 22px 22px 0;
}

.insights-container .mixed-chart-container .mixed-chart {
    height: 10rem !important;
    width: 100%;
}

@media only screen and (max-width: 315px) {
    .insights-container .mixed-chart-container .mixed-chart {
        width: 95%;
    }
}

.insights-container .category-rating-container {
    padding: 1.375rem 1.375rem 2.375rem;
}

.insights-container .category-rating-container .category-rating-heading {
    color: #17213c;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    margin-bottom: 1.25rem;
}

.insights-container .category-rating-container .category-rating-row {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 9.375rem;
    max-width: 100%;
    padding: 0 0.25rem;
}

@media only screen and (max-width: 575px) {
    .insights-container .category-rating-container .category-rating-row {
        overflow: auto;
    }
}

.insights-container .category-rating-container .category-rating-row .rating-text-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.9375rem;
}

@media only screen and (max-width: 992px) {
    .insights-container .category-rating-container .category-rating-row .rating-text-row {
        padding-right: 1rem;
    }
}

.insights-container .category-rating-container .category-rating-row .rating-text-row .rating-icon {
    font-size: 0.75rem;
    margin-right: 0.1875rem;
}

.insights-container .category-rating-container .category-rating-row .rating-text-row .rating-count {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    margin-right: 0.25rem;
}

.insights-container .category-rating-container .category-rating-row .rating-text-row .rating-text {
    color: #1e223c;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1rem;
    text-transform: capitalize;
    white-space: nowrap;
}

.insights-container .helpful-widget-insights {
    margin: 0 1rem;
    width: 44%;
}

@media only screen and (max-width: 575px) {
    .insights-container .helpful-widget-insights {
        margin: 0 0 1rem;
        width: auto;
    }
}
